@import 'variables';
@import 'mixin';

.modal_registro {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    animation-name: modal;
    animation-duration: 1s;
  }
  
  /* Modal Content */
  .modal_content_registro {
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 90%;
    
    
  }

  @keyframes modal{
    from{
      top: -330px;
      opacity: 0;
    }
    to{
      top: 0;
      opacity: 1;
    }
  }
  
  /* The Close Button */
  .cerrar_registro {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

  }
  .parrafo_registrarme{
    text-align: center;
    font-size: $parrafos;

  }
 .contenedor_registrarme_conductor{
   @include contenedor_enlaces
  }
  .enlace_registrarme_conductor{
   @include enlaces_registro;
  }
  
 .contenedor_registrarme_usuario{
   @include contenedor_enlaces;
 }
 .enlace_registrarme_usuario{
   @include enlaces_registro;
 }
  .cerrar_registro:hover,
  .cerrar_registro:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }