
// VISTA PRINCIPAL
$tamaño_imagenes_secundarias:750px;
$color-pricipal:#070D17;
$color_secundario:#192229;
$color_inputs:#212E36;
$tamaño_fuente_logo:24px;
$tamaño_iconos:35px;
$tamaño_titulo:60px;
$fuenteCardH2:20px;
$parrafos:18px;
$titulos_banner:28px;
$color_error:#FF0134;
$texto_span:11px;

// CONDICIONES
// $color_enlace_condiciones:green;
$fuente_condiciones:12px;



// COLORES
$color-pricipal:#070D17;
// $color_enlace_condiciones:green;
$color_blanco:white;
$fondo_main:#F6F6F6;